.single-post {
    margin-top: 30px;
    border-bottom: 1px solid;
    padding-bottom: 30px;
}
.left-side {
    float: left;
}

.right-side {
    float: right;
}

.clearfix {
    clear: both;
}

.parent-cat,.child-cat {
    display: inline-block;
}
